*{
    padding: 0;
    margin: 0;
}
.box{
    background-color: black;
    color: white;
}
.head1{
    background-color: black;
}
.head2{
    background-color: black;
}
.box2{
    background-color: aliceblue;

}
.B button{
    background-color: orange;
}
.C img{
    object-fit: cover;
}
.sec2 img{
    object-fit: cover;
}
