*{
    padding: 0;
    margin: 0;
}
.box{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    margin: 50px;
    grid-template-rows: 100px 200px 100px;
    grid-auto-flow: column;
}
.box1{
    background-color: blueviolet;
    display: grid;
    color: white;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}