.User{
    /* width: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
Form legend{
    /* margin-top: 100px; */
    text-align: center;
    color:  rgb(3, 184, 255);
    
}

.form-control{
    width: 350px;
    /* border-radius: 60px; */
}
.userlogin{
    width: 350px;
    height: 45px;
    background-color:  rgb(26, 90, 5);
    /* border-radius: 60px; */
    margin-top: 10px;
    
  
}
.userreg{
    /* margin-left: 120px; */
    width: 350px;
    height: 45px;
    background-color:  rgb(26, 90, 5);
    /* border-radius: 60px; */
}

.userlogin:hover{
    background-color: lightgreen;
    color: black;
    transition: 1s;
}

.userreg:hover{
    background-color: lightgreen;
    color: black;
    transition: 1s;
}
.useror{
    margin-left: 160px;
    margin-top: 10px;
    
    
}

.reguser{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
    margin-top: 100px;
}
.regusermain{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.regusersection{
    display: flex;
    gap: 20px;
    flex-direction: column;

}
legend{
    text-align: center;
    color:  rgb(3, 184, 255);
}
.regusersection input{
    width: 300px;
    height: 40px;
    border-radius: 60px ;
    border: 1px solid grey;
    /* text-indent: 10px; */
    padding: 20px 45px 20px 20px;
    
}
.regusersection button{
    width: 100%;
    border-radius: 60px;
    border: none;
    height: 40px;
    background-color:rgb(3, 184, 255);
    color: white;
}
.regusersection button:hover{
    background-color: lightgrey;
    color:rgb(3, 184, 255);
}
.userhead{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    color:rgb(3, 184, 255);
}

.userhead2 {
    flex: 3;
    display: flex;
    width: 60%;
    justify-content: flex-end;
    align-items: center;
   
}

.userhead2 li {
    margin-left: 10px;
    
}


.userhead NavLink{
    text-decoration: none;
    
}
.usertab{
    display: flex;
    justify-content: center;

}
.usertab table thead{
    border: 1px solid rgb(3, 184, 255);
    background-color: rgb(4, 174, 241);
    color: white;
}
.usertab table thead th{
    border: 1px solid white;
    padding: 10px;
    text-align: center;
}
.usertab table tbody td{
    border: 1px solid rgb(2, 181, 252);
    padding: 10px;
    text-align: center;
    
}

.wallpaper{
    background:url("../../assets/3132295.jpg")no-repeat;
    background-size: cover;
}
