*{
    padding: 0;
    margin: 0;
}
.box{
    height: 100vh;
    width: 100%;
    background-color: gray;
}
.header{
    height: 20vh;
    width: 100%;
    background-color: orange;
    display: inline-block;
}
.section{
    height:60vh ;
    width: 100%;
    background-color: blueviolet;
}
.footer{
    height: 20vh;
    width: 100%;
    background-color: red;
}
.nav{
    height: 60vh;
    width: 20%;
    background-color: blue;
    display: inline-block;
}
.article{
    height: 60vh;
    width: 79.5%;
    background-color: green;
    display: inline-block;
}